<nav class="navbar navbar-expand-lg index_header text-light">
  <div class="container-fluid">
    <div class="navbar-nav text-light index-nav">
      <a href="/" class="nav-item nav-link">Dashboard</a>
      <a href="/main" class="nav-item nav-link">Post</a>
    </div>
    <div class="navbar-nav ms-auto index-nav">
      <a href="/logout" class="nav-item nav-link"
        ><i class="fa fa-power-off mx-2"></i>Logout</a
      >
    </div>
  </div>
</nav>
